<a href="https://colab.research.google.com/github/daje0601/codingtest/blob/main/%EC%97%B0%EC%8A%B5%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def fib(n):
    # n번째 피보나치 수를 담는 사전
    fib_cache = {}
    if n <= 2:
        fib_cache[n] = 1
        
    else:
        fib_value = fib(n-1) + fib(n-2)
        fib_cache[n] = fib_value

    return fib_memo(n, fib_cache)

In [ ]:
class Node :
  """링크드 리스트의 노드 클래스"""

  def __init__(self, data):
    self.data = data 
    self.next = None

In [ ]:
# 노드를 생성 합니다. 
head_node = Node(2)
node_1 = Node(3)
node_2 = Node(5)
node_3 = Node(7)
tail_node = Node(11)

In [ ]:
# 노드들을 연결해보도록 하겠습니다. 

head_node.next = node_1
node_1.next = node_2
node_2.next = node_3
node_3.next = tail_node

In [ ]:
# 노드들을 순서대로 출력하겠습니다. 

iterator = head_node
while iterator is not None:
  print(iterator.data)
  iterator = iterator.next

2
3
5
7
11

In [4]:
class LinkedList:
  def __init__(self):
    self.head = None
    self.tail = None 



  def insert_after(self, previous_node, data):
    """주어진 링크드 리스트 노드 뒤 삽입 연산 메소드"""
    new_node = Node(data)

    # 링크드 리스트 가장 마지막 순서에 삽입할 때 
    # previous_node가 self.tail인지를 확인해줄 필요가 있습니다. 
    if previous_node is self.tail: 
      self.tail.next = new_node 
      self.tail = new_node

    # 링크드 리스트 중간에 삽입할 때 
    # tail이 아니라면 모두 중간에 삽입이 되는 것이기에 else로만 처리해도 무방합니다. 
    else:
      new_node.next = previous_node.next
      previous_node.next = new_node # 만약 해당 줄을 먼저 기재를 했다면, 링크드 리스트가 연결이 되지 않습니다. 순서에 유의해야합니다. 


  def find_node_at(self, index):
    iterator = self.head

    while iterator is not None:
      pass

  
  def append(self, data):
    """링크드 리스트 추가 연산 메소드"""

    new_node = Node(data)

    # 링크드 리스트가 비어있을 때 -> head가 없는 경우니 head를 만들어주어야 합니다. 
    if self.head == None:
      # 노드가 하나 밖에 없는 경우니까, 머리와 꼬리가 모두 입력받은 new data로 지정이 됩니다. 
      self.head = new_node
      self.tail = new_node

    # 링크드 리스트가 비어있지 않을 때 
    # 이곳에는 두 가지 작업이 이루어져야 합니다. 
    # 1) 기존 링크드리스트에 새로운 노드를 추가하고 
    # 2) 추가된 노드를 tail 노드로 지정을 해주어야 합니다. 
    else:
      self.tail.next = new_node
      self.tail = new_node
  

  def __str__(self):
        """링크드 리스트를 문자열로 표현해서 리턴하는 메소드"""
        res_str = "|"

        # 링크드  리스트 안에 모든 노드를 돌기 위한 변수. 일단 가장 앞 노드로 정의한다.
        iterator = self.head

        # 링크드  리스트 끝까지 돈다
        while iterator is not None:
            # 각 노드의 데이터를 리턴하는 문자열에 더해준다
            res_str += f" {iterator.data} |"
            iterator = iterator.next  # 다음 노드로 넘어간다

        return res_str

In [ ]:
# 새로운 링크드 리스트 생성 
my_list = LinkedList()

# 링크드 리스트에 데이터 추가 
my_list.append(2)
my_list.append(3)
my_list.append(5)
my_list.append(7)
my_list.append(11)

In [ ]:
iterator = my_list.head
while iterator is not None:
  print(iterator.data)
  iterator = iterator.next

2
3
5
7
11

In [ ]:
nums = [-1, 0, 1, 2, -1, -4]
# nums = [0]
# [[-1,-1,2],[-1,0,1]]

In [ ]:
from scipy.special import comb


def threeSum(nums):
    answer = []
    nums.sort()

    # 두번째, 세번째 숫자가 와야하므로 -2를 해줌 
    for i in range(len(nums)-2):

        # i가 1 일 때 0번째와 같다면 넘어갈 수 있도록 예외처리를 해줌
        # 나는 참 아이러니한게 i가 2일 때 0이랑 같은지는 확인을 못하는데 괜찮은 건가?
        # 왜 바로 전에 숫자와만 비교를 해서 안같다면 괜찮은거지? 정렬을 했기 때문이다! 
        if i > 0 and nums[i] == nums[i-1]:
            continue
        
        # i를 기준으로 left와 right를 구하고 그 친구들을 쭉쭉 더해오는 식으로 코드를 구상해보았다. 
        # 처음에는 순열조합을 만들어서 적용을 해보았으나, 시간복잡도가 너무 높아져서 코드가 통과가 되지 않았다. 
        left, right = i+1, len(nums)-1

        # 당연히 left가 right를 넘어갈 수 있으므로 그 전까지만 반복해서 코드가 작동될 수 있도록 한다.  
        while left < right :
            sum = nums[i]+nums[left]+nums[right]
            
            # 정렬을 해 놓았기 때문에 sum이 0보다 작으면 left를 한칸 앞으로 이동하고 
            if sum < 0 :
                left += 1
            # 0보다 크면 뒤로 한칸 이동하게 한다. 
            elif sum > 0 :
                right -= 1
            # 0일때는 answer에 넣어주고, left와 right를 동시에 움직이게 한다. 
            # 단, 중복된 값이 있을 수 있으므로 left와 right에 예외처리를 해줘야 한다. 
            else:
                answer.append([nums[i], nums[left], nums[right]])
                while left < right and nums[left] == nums[left+1]:
                    left +=1
                while left < right and nums[right] == nums[right-1]:
                    right -= 1
                left += 1
                right -= 1
                
    return answer

In [ ]:
threeSum(nums)

[[-1, -1, 2], [-1, 0, 1]]

In [ ]:
random.sample(range(len(nums)), 3)

[4, 0, 5]

In [ ]:
from itertools import combinations

for g in range(len(list(combinations(range(len(nums)), 3)))):

  i, j, k = list(combinations(range(len(nums)), 3))[g]
  print(i, j, k)

0 1 2
0 1 3
0 1 4
0 1 5
0 2 3
0 2 4
0 2 5
0 3 4
0 3 5
0 4 5
1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [ ]:
nums = [1,2,3,4]

out = [] 
p = 1
for i in range(0, len(nums)):
  out.append(p)
  p = p * nums[i]


out

[1, 1, 2, 6]

In [ ]:
nums = [1,2,3,4]

out = [] 
p = 1
for i in range(0, len(nums)):
  out.append(p)
  p = p * nums[i]
  

p = 1
for i in range(len(nums)-1, -1, -1):
  print("i", i)
  print("befor out[i] ",  out[i] )
  out[i] = out[i] * p
  print(" out[i] ",  out[i] )
  p = p * nums[i]

out

i 3
befor out[i]  6
 out[i]  6
i 2
befor out[i]  2
 out[i]  8
i 1
befor out[i]  1
 out[i]  12
i 0
befor out[i]  1
 out[i]  24

[24, 12, 8, 6]

In [ ]:
prices = [7,6,4,3,1]

value = []
for i in range(0, len(prices)-1):
    print(i)
    for j in range(i+1, len(prices)):
        print(j)
        value.append(prices[j] - prices[i])
            
answer = max(value)
value

0
1
2
3
4
1
2
3
4
2
3
4
3
4

[-1, -3, -4, -6, -2, -3, -5, -1, -3, -2]

In [ ]:
prices[-1]

4

In [19]:
# solution1 - discussion 참조

In [23]:
class Node:
    def __init__(self, val=0, next=None):
        self.val = val
        self.next = next

class Solution:
    def mergeTwoLists(self, l1, l2):
        if not l1 or l2 and l1.val > l2.val:
            l1, l2 = l2, l1
        if l1:
            l1.next = self.mergeTwoLists(l1.next, l2)
        return l1

In [7]:
l1 = LinkedList()
l2 = LinkedList()

# 링크드 리스트에 데이터 추가 
l1.append(1)
l1.append(2)
l1.append(4)
l2.append(1)
l2.append(3)
l2.append(4)

In [11]:
iterator = l1.head
while iterator is not None:
  print(iterator.val)
  iterator = iterator.next

iterator = l2.head
while iterator is not None:
  print(iterator.val)
  iterator = iterator.next

1
2
4
1
3
4